
</div>
<div class="footer-padding"></div>
  <div>
    <center>
      <p class="footerParagraph">Made with ❤️ by Mark Maksi | <a href="https://github.com/markmaksi74">GitHub</a></p>
    </center>
  </div>
</div>
</body>
</html>
